<div>
	<a ng-click="reOrder()">Reorder</a>
	<ul class="wf-Ul" wf-data="appList">
		<li ng-repeat="app in appList track by app.id" ng-style="{transform:app.style,width:app.width,height:app.height}" style="padding-left:12px;padding-top:10px">
			<div><img ng-src="{{app.icon}}"></img></div>
			<p style="magin-top:5px;padding:3px"><strong>{{app.name}}</strong></p>
		</li>
	</ul>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center">Why need to thank everyday?</h1>
			<div class="separator"></div>
			<p class="lead text-center">Receive Happiness everyday<br/> Keep encourage those who you love</p>
			<!-- Slides Container -->
			
    		<div style="width:100%">
    			<img src="images/carousel/pic1.jpg" style="width:100%"/>
    		</div>
			       
		</div>
	</div>
</div>
