/* Empty. Add your own CSS if you like */
.blue {
	background-color:"blue";
}

.box {
	width:100%;
}

.box img {
	display: block;
    width:100%;
}

img.face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px;
}

.message-others {
    font-color:blue;
    font-weight: 600;
}

.bottom-tab-button {
    color:grey !important;
}
.bottom-tab-button.active {
    color:black !important;
}

span.input_error {
    color:red;
    margin-left:20px;
}



