<form class="form-signin" name="loginForm" novalidate>
  <h2 class="form-signin-heading" ng-hide="login.isSignUp">Please sign in</h2>
  <h2 class="form-signin-heading" ng-hide="!login.isSignUp">Please sign up</h2>
  
  

  <label for="inputName" class="sr-only">Email</label>
  <input name="emailAddress" style="width:350px;margin-bottom:20px" type="text" ng-model="login.emailAddress" class="form-control flip-in" placeholder="Email Address" required="" autofocus="">
  <span style="color:red" ng-show="loginForm.emailAddress.$dirty && loginForm.emailAddress.$invalid">
    <span ng-show="loginForm.emailAddress.$error.required">Email Address is required.</span>
  </span>

  <label for="inputPassword" class="sr-only">Password</label>
  <input style="width:350px;margin-bottom:20px" type="password" ng-model="login.password"  class="form-control" placeholder="Password" required="">
  <label ng-hide="!isSignUp" for="inputName" class="sr-only">Repeat Password</label>
  <input ng-hide="!isSignUp" style="width:350px" type="password" ng-model="login.repeatPassword"  ng-if="isSignUp" class="form-control flip-in" placeholder="Repeat Password" required="" autofocus="">

<label ng-hide="!isSignUp" for="inputName" class="sr-only">Alias</label>
  <input ng-hide="!isSignUp" name="userName" style="width:350px;margin-bottom:20px" type="text" ng-model="login.userName" class="form-control flip-in" placeholder="User Alias Name" required="" autofocus="">

  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <p ng-if="login.lastError">{{login.lastError}}</p>
  <button ng-disabled="login.state==1" ng-hide="isSignUp" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
  <button ng-disabled="login.state==1" ng-hide="!isSignUp" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signUp()">Sign Up</button>

  <p ng-hide="isSignUp"> No Account? Please <a ng-click="isSignUp=true">sign up</a>. </p>
  <p ng-hide="!isSignUp"> Already had account? Please <a ng-click="isSignUp=false">sign in</a>. </p>
</form>

<div id="status">
</div>
