<ion-view view-title="{{curGoal.title | limitTo:15}}..." id="userMessagesView" cache-view="false"> 
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    
    
    <ion-nav-title>
        <div class="title title-center header-item">
            <div style="position:absolute">{{curGoal.title | limitTo:15}}...</div>
            <div style="position:absolute" ng-show="searchBar.show">
                <input type="search" placeholder="Search" ng-model="searchBar.txt">
            </div>
        </div>
       
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
        <!--
        <div class="searchTxt" ng-show="searchBar.show">
            <div class="bgdiv"></div>
            <div class="bgtxt">
                <input type="text" placeholder="Search Terms" ng-model="searchBar.txt">
            </div>
        </div>
    -->
        <a class="fa fa-search" style="font-size:30px;width:70px;text-align:center" ng-click="toggleSearchBar($event)"></a>
        <!--
        <a class="fa fa-pie-chart" ng-click="showGridBottomSheet($event)" style="font-size:30px;width:70px;text-align:center">
        </a>
        -->
    </ion-nav-buttons>

    <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">  
     <!-- <div ng-repeat="message in messages" ng-class="curUser!==message.owner?'message-others':'message-self'">
        {{message.owner | f_username}}:{{message.content}}
        <div wf-Log-Dom="{{message.content}}"></div>
      </div>
    -->  
        <div ng-repeat="message in messages | filter:searchBar.txt" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">      
            <div ng-if="curUser!== message.owner">   
                <div class="img_item" style="float:left">       
                    <img ng-click="viewProfile(message)" ng-src="{{message.owner | f_photo}}" onerror="onProfilePicError(this)" />
                    <span class="caption">{{message.owner | f_username}}</span>
                </div>
                <div layout="column">  
                    <div class="chat-bubble left">      
                        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
                        </div>
          
                        <div class="message-detail">
                            <span ng-click="viewProfile(message)" class="bold">{{message.username}}</span>,
                            <span am-time-ago="message.date"></span>
                        </div>
                    </div>
                    <div layout="row">
                        <i class="fa fa-thumbs-up md-raised md-button md-default-theme" style="min-width:40px;font-size:20px;color:green;margin:0px 10px 0px 10px" ng-click="voteComment(message)"></i>
                        <span style="line-height:20px" >{{message.voted | voterListFilter}}</span>
                    </div>
                </div>
            </div>
      
            <div ng-if="curUser === message.owner">
                <div class="img_item" style="float:right">
                    <img ng-click="viewProfile(message)" ng-src="{{message.owner | f_photo}}" onerror="onProfilePicError(this)" />
                    <span class="caption">{{message.owner | f_username}}</span>
            
                </div>  
                <div layout="column" style="float:right">    
                    <div class="chat-bubble right" style="max-width:100%">
                        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
                        </div>
                        <div class="message-detail">
                            <span ng-click="viewProfile(message)" class="bold">{{curUser}}</span>, 
                            <span am-time-ago="message.date"></span>
                        </div>
                    </div>
                    <div layout="row">
                        <i class="fa fa-thumbs-o-up" style="font-size:20px;color:green;margin:0px 10px 0px 10px"></i>
                        <span style="line-height:20px">{{message.voted | voterListFilter}}</span>
                    </div>
                </div>
                    
            </div>
      
            <div class="cf"></div>
      
        </div>
      

              

    </ion-content>

 

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <label ng-if="curGoal.completeness && curGoal.completeness==100"class="item" style="position:absolute;bottom:44px;width:100%;padding:0;margin:0">
          <button class="button button-block button-positive" type="submit" style="padding:0;margin:0">Complete the help</button>
        </label>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach> 
        
        

            	<label class="item-input-wrapper" style="background-color:white">
                	<input ng-model="input_message" style="width:100%" value="" placeholder="Send a comment ..." required minlength="1" maxlength="1500"></input>
            	</label>
            	
                <button class="button button-icon icon  footer-btn" type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">Send
                </button>
             <div ng-if="curGoal.owner==currentUser.emailAddress" style="margin-right:10px" ng-click="showListBottomSheet($event)">
                <i class="fa fa-plus-circle" style="width:50px;text-align:center;font-size:30px"></i>         
            </div>   	
        </ion-footer-bar> 
 
    </form>  
           

</ion-view>