<ion-view view-title="{{view.title}}">
  <ion-nav-buttons side="right">
    <a class="ion-plus" ng-click="openGoalModal()" style="font-size:30px;margin-right:20px">
    </a>
   </ion-nav-buttons>

  <ion-content>
    <ion-list can-swipe='true'>

      <ion-item class="item-avatar" ng-repeat="help in helpList" type="item-text-wrap" href="#/app/helpList/{{help.id}}" ng-click="setCurGoal(help)">
        <div style="position:absolute;left:10px">
          <!--Donut chart-->
          <div ng-if="view.tab_myhelp" data-dimension="50" data-text="{{help.completeness}}%" data-info="" data-width="10" data-fontsize="11" data-percent="{{help.completeness}}" data-fgcolor="#61a9dc" data-bgcolor="#eee" class="circliful" style="width: 30px;"></div>
          <!--User picture-->
          <img  ng-if="!view.tab_myhelp" style="width:50px;height:50px" ng-src="{{help.owner | f_photo}}"  alt="" >
        </div>
        <!--
        <img ng-src="{{goal.img}}">-->
        <h2>{{help.title}}</h2>
        <h4>{{help.lastComment}}</h4>
        <span class="badge badge-positive">0</span>
        <!--
        <div class="row" style="width:100%">
          <div class="item col-50" style="font-size:16px;border:none;height:30px;padding:5px 5px 0px 5px;">
            <i class="icon ion-person-stalker"></i>
                <span class="badge badge-positive" style="font-size:10px;top:5px">{{help.subscribers.length}}</span>
          </div>
          <div class="item col-50" style="font-size:16px;border:none;height:30px;padding:5px 5px 0px 5px;">
            <i class="icon ion-android-chat"></i>
            <span class="badge badge-positive" style="font-size:10px;top:5px">{{help.comments}}</span>
          </div>  
        </div>
      -->
        <ion-option-button class="button-positive" ng-click="edit(item)">
              Edit
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>


<ion-footer-bar align-title="left" class="bar-positive" style="height:65px">
  <section layout="row" layout-sm="row" layout-align="center center" style="width:100%">
      <md-button class="md-icon-button md-primary bottom-tab-button" ng-class="view.tab_myhelp?'active':'none'" aria-label="Help List" style="width:50%;height:90%" ng-click="changeTab(true)">
        <i class="fa fa-list-ol" ng-class='action.icon' style='font-size:30px'></i>
        <p style="line-height:10px;font-size:10px">Help Me</p>
      </md-button>
      <md-button class="md-icon-button md-accent bottom-tab-button" aria-label="Supports" ng-class="view.tab_myhelp?'none':'active'" style="width:50%;height:90%" ng-click="changeTab(false)">
        <i class="fa fa-users" ng-class='action.icon' style='font-size:30px'></i>
        <p style="line-height:10px;font-size:10px">Helo Others</p>
      </md-button>
      <md-button class="md-icon-button md-primary bottom-tab-button" ng-class="view.tab_myhelp?'active':'none'" aria-label="Help List" style="width:50%;height:90%" ng-click="changeTab(true)">
        <i class="fa fa-users" ng-class='action.icon' style='font-size:30px'></i>
        <p style="line-height:10px;font-size:10px">Friends</p>
      </md-button>
      <md-button class="md-icon-button md-primary bottom-tab-button" ng-class="view.tab_myhelp?'active':'none'" aria-label="Help List" style="width:50%;height:90%" ng-click="changeTab(true)">
        <i class="fa fa-male" ng-class='action.icon' style='font-size:30px'></i>
        <p style="line-height:10px;font-size:10px">Me</p>
      </md-button>
  </section>
      
<!--
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">


    <ion-tab title="Friends Goals" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Own Goals" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    
  
  </ion-tabs>
-->
</ion-footer-bar>

</ion-view>
