<ion-view view-title="{{curGoal}}" id="userMessagesView" cache-view="false">
  	<ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">  
      <div ng-repeat="message in messages">
        {{message.username}}:{{message.text}}
      </div>
    {{curGoal}}

              

    </ion-content>

 

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach> 
            
        <div style="margin-right:20px" ng-click="showGridBottomSheet($event)">
          <i class="fa fa-chevron-circle-down" style="font-size:30px"></i>         
        </div>

            	<label class="item-input-wrapper" style="background-color:white">
                	<textarea ng-model="input_message" style="width:100%"value="" placeholder="Send a message or update (@+number) ..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            	</label>
            	<div class="footer-btn-wrap">
                	<button class="button button-icon icon  footer-btn" type="submit"
                        ng-disabled="!input_message || input_message === ''">Send
                	</button>
            	</div>
        </ion-footer-bar> 
 
    </form>  
           

</ion-view>