<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Comment Actions</md-subheader>
  <md-list>
    <md-item style="magin-top:10px;margin-bottom:10px">
      <md-button ng-click="closeHelp()">
        <i class="fa fa-plus-circle" style='font-size:32px'></i>
        <span class="md-inline-list-icon-label">Close Help</span>
      </md-button>
    </md-item>
    <md-item style="magin-top:10px;margin-bottom:10px">
      <md-button ng-click="inviteMore()" style="padding-bottom:10px;">
        <i class="fa fa-plus-circle" style='font-size:32px'></i>
        <span class="md-inline-list-icon-label">Invite More</span>
      </md-button>
    </md-item>    
  </md-list>
</md-bottom-sheet>