<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{goal_title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="goalForm" novalidate ng-submit="submit()">
      <!--
      <label class="item item-input item-floating-label">
        <span class="input-label" style="font-size:9px">Choose Category</span>
      </label>
       <fancy-select
            header-text="Choose Category"
            allow-empty='false'
            value="goalData.categoryId"
            text="goalData.categoryText"
            items="categories">
      </fancy-select>
      -->
     <!-- <a ng-click="openCategoryModal()">{{selectedCategory}}</a>-->
      <md-input-container>
        <label>Title</label>
        <input ng-minlength="10" required name="title" ng-model="goalData.title">
        <div ng-messages="goalForm.title.$error">
          <div ng-message="required">Title is required.</div>
          <div ng-message="minlength">Too Short....</div>
        </div>
        
      </md-input-container>
     
      <!--
      <label>
          <p>Content Privacy:</p>
          <md-radio-group ng-model="goalData.privacy" class="md-primary">
            <md-radio-button value=0 class="md-primary">Conversation is Shared</md-radio-button>
            <md-radio-button value=1>Conversation is Private</md-radio-button>       
          </md-radio-group>
      </label>
    -->
      <label>
        <span class="input-label" style="font-size:9px">Content Privacy</span>
        <md-switch ng-model="goalData.isPublic" aria-label="Privacy">
          {{ goalData.isPublic?"Content is shared":"Keep Private" }}
        </md-switch>
      </label>
      <md-list>
        <md-subheader class="md-no-sticky">Friends in your circle</md-subheader>
        <md-list-item ng-repeat="friend in goalData.friends">
          <p> {{ friend.name }} ( {{friend.emailAddress}}) </p>
          <md-checkbox class="md-secondary" ng-model="friend.selected"></md-checkbox>
        </md-list-item>
        <md-subheader class="md-no-sticky">Expert in System</md-subheader>
          <md-list-item ng-repeat="expert in goalData.experts">
            <p> {{ expert.name }} </p>
            <md-checkbox class="md-secondary" ng-model="expert.selected"></md-checkbox>
          </md-list-item>
        

      <!--<div class="list">
        <label class="item item-input">
          <span class="input-label">Goal</span>
          <input type="text" ng-model="goalData.title">
        </label>
        -->
        <p style="color:red;font-size:12px" ng-if="lastError">{{lastError}}</p>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="!goalForm.$valid"  type="submit">{{title}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>