<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Goal</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="goalForm" novalidate ng-submit="submitGoal()">
      <label class="item item-input item-floating-label">
        <span class="input-label" style="font-size:9px">Goal</span>
        <textarea rows="3"  placeholder="Your Goal"
                name="title" 
                ng-model="goalData.title"
                minlength=10>
        </textarea>
        <span ng-if="goalForm.title" style="color:red" ng-show="goalForm.title.$dirty && goalForm.title.$invalid">
            <span ng-show="goalForm.title.$error.minlength">To short.....</span>
        </span>
      </label>
      <md-list>
        <md-subheader class="md-no-sticky">Friends in your circle</md-subheader>
        <md-list-item ng-repeat="friend in goalData.friends">
          <p> {{ friend.name }} </p>
          <md-checkbox class="md-secondary" ng-model="friend.selected"></md-checkbox>
        </md-list-item>
        <md-subheader class="md-no-sticky">Expert in System</md-subheader>
          <md-list-item ng-repeat="expert in goalData.experts">
            <p> {{ expert.name }} </p>
            <md-checkbox class="md-secondary" ng-model="expert.selected"></md-checkbox>
          </md-list-item>
        

      <!--<div class="list">
        <label class="item item-input">
          <span class="input-label">Goal</span>
          <input type="text" ng-model="goalData.title">
        </label>
        -->
        <p style="color:red;font-size:12px" ng-if="lastError">{{lastError}}</p>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Goal</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>