<ion-view view-title="Help Me">
    <ion-nav-buttons side="right">
        <a class="ion-plus" ng-click="openGoalModal()" style="font-size:30px;margin-right:20px"></a>
    </ion-nav-buttons>
    <ion-content>
      <ion-list can-swipe='true'>

        <ion-item class="item-avatar" ng-repeat="help in helpList" type="item-text-wrap" href="#/helpList/{{help.id}}" ng-click="setCurGoal(help,true)">
            <div style="position:absolute;left:10px">
                <!--Donut chart
                <div data-dimension="50" data-text="{{help.completeness}}%" data-info="" data-width="10" data-fontsize="11" data-percent="{{help.completeness}}" data-fgcolor="#61a9dc" data-bgcolor="#eee" class="circliful" style="width: 30px;"></div>
            -->
                <img style="width:50px;height:50px" ng-src="{{help.lastCommenter | f_photo}}"  alt="" >
            </div>
            
            <h2 style="font-weight:900">{{help.title}}</h2>
            <h4>{{help.lastComment}}</h4>
            <!--
            <div class="row" style="width:100%">
                <div class="item col-50" style="font-size:16px;border:none;height:30px;padding:5px 5px 0px 5px;">
                    <i class="icon ion-person-stalker"></i>
                    <span class="badge badge-positive" style="font-size:10px;top:5px">{{help.subscribers.length}}</span>
                </div>
                <div class="item col-50" style="font-size:16px;border:none;height:30px;padding:5px 5px 0px 5px;">
                    <i class="icon ion-android-chat"></i>
                    <span class="badge badge-positive" style="font-size:10px;top:5px">{{help.comments}}</span>
                </div>  
            </div>
        -->
            <ion-option-button class="button-positive" ng-click="openGoalModal(help)">
                  Edit
            </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>
