<ion-tabs class="tabs-icon-top tabs-color-active-positive">

   <ion-tab title="Blog" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/blog">
        <ion-nav-view name="tab_blog"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Help Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/helpMe">
        <ion-nav-view name="tab_helpMe"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Help Others" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/helpOthers">
        <ion-nav-view name="tab_helpOthers"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Friends" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/friends">
        <ion-nav-view name="tab_friends"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Me" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab_settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>