<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Help Me" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/helpMe">
        <ion-nav-view name="tab_helpMe"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Help Others" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/helpOthers">
        <ion-nav-view name="tab_helpOthers"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Friends" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/friends">
        <ion-nav-view name="tab_friends"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Me" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab_settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>