<ion-view view-title="Task {{selectedTodo.id}}">
  <ion-content>
<!--  <div class="card">
  	<div class="item item-divider">
    	Send Email
  	</div>
  	<form name="cardForm">
      <md-input-container>
        <label>Recipient Email</label>
        <input required name="recipientEmail" ng-model="card.recipientEmail">
        <div ng-messages="cardForm.recipientEmail.$error" ng-if="cardForm.recipientEmail.$dirty && cardForm.recipientEmail.$invalid">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Content</label>
        <textarea name="content" ng-model="card.content" columns="1" minlength="5"></textarea>
        <div ng-messages="cardForm.content.$error" ng-if="cardForm.content.$dirty && cardForm.content.$invalid">
          <div ng-message="minlength">To short.....</div>
        </div>
      </md-input-container>

      <p>Select background (swipe right)</p>
      	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>
		    <div class="box"><img src="img/loved.jpg"></img></div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><img src="img/nofear.jpg"></img></div>
		  </ion-slide>
		</ion-slide-box>
  	
	<button class="button button-positive" style="width:100%;margin-top:10px" ng-click="send()">
  		Send
	</button>
  	</form>



</div>
-->


  <div class="list card">
	<form name="cardForm" novalidate>
  	<label class="item item-input item-floating-label">
  		<span class="input-label" style="font-size:9px">Receiver Email</span>  		
  		<input type="email" name="recipientEmail" placeholder="Receiver Email" ng-model="card.recipientEmail">
  		
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label" style="font-size:9px">Content</span>
		<textarea rows="8" 
			placeholder="Content"
			name="content" 
			ng-model="card.content"
			minlength=10>
		</textarea>
		<span ng-if="cardForm.content" style="color:red" ng-show="cardForm.content.$dirty && cardForm.content.$invalid">
    		<span ng-show="cardForm.content.$error.minlength">To short.....</span>
  		</span>
        

	</label>
	<p style="margin-top:20px">Background</p>
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide>
	    <div class="box"><img src="img/loved.jpg"></img></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box yellow"><img src="img/nofear.jpg"></img></div>
	  </ion-slide>
	</ion-slide-box>
	
	<button class="button button-positive" style="width:100%;margin-top:10px" ng-click="send()">
  		Send +{{selectedTodo.score}}
	</button>
</form>
</div>	


</ion-content>

</ion-view>
