<ion-view view-title="TODO List">

  	<ion-content>
		<section>
	      <md-subheader class="md-primary">Uncomplete Tasks</md-subheader>
	        <md-item ng-repeat="task in newTasks">	
		          <md-item-content>
		            <div class="md-tile-left">
		                <img ng-src="{{task.img}}" class="face">
		            </div>
		            <div class="md-tile-content">
		              <h3>{{task.title}}</h3>
		              <h4>{{task.author}}</h4>
		              <p>
		                {{task.notes}}
		              </p>
		            </div>

		          	<a class="item-content button icon-right ion-chevron-right button-calm" ng-href="#/app/todoDetail/{{task.id}}">+ {{task.score}}</a>
		          	
		          </md-item-content>
		          <md-divider ng-if="!$last"></md-divider>
	        </md-item>
	    </section>
	    
	    <section>
	      <md-subheader class="md-accent">Completed Tasks</md-subheader>
	        <md-item ng-repeat="task in completeTasks">
	          <md-item-content style="background-color:lightgrey">
	            <div class="md-tile-left">
	                <img ng-src="{{task.img}}" class="face">
	            </div>
	            <div class="md-tile-content">
	              <h3 style="color:white">{{task.title}}</h3>
	              <h4>{{task.author}}</h4>
	              <p>
	                Karma: <span style="color:red">+{{task.score}}</span>
	              </p>
	            </div>
	          </md-item-content>
	        </md-item>
	    </section>
    </ion-content>

<!-- Footer -->
<ion-footer-bar align-title="left" class="bar-positive">
  <div class="title title-center">
  	
  	<h1 style="color:white"><i class="ion-ios-heart" style="margin-right:10px"></i>{{getScore()}}</h1>
  </div>
</ion-footer-bar>

</ion-view>

<!--
<ion-view view-title="Todos">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in newTasks" href="#/app/todoDetail/{{task.id}}">
      	<div class="icon ion-star">{{task.title}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->